<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594756704031-98ikl8divn45mp6p98jn2q04mkcl7qou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594756704031-98ikl8divn45mp6p98jn2q04mkcl7qou</string>
	<key>API_KEY</key>
	<string>AIzaSyDnAZzdVTKrKLy4PAg-9FAkTnQ_HWtgp2E</string>
	<key>GCM_SENDER_ID</key>
	<string>594756704031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.arunmozhi.appbrewery.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2179b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2179b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594756704031:ios:36ccf40e31aca991f0022a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2179b.firebaseio.com</string>
</dict>
</plist>